@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');



.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.Container_Welcome{
    align-self: center;
    font-family: 'Edu SA Beginner', cursive;
    letter-spacing: 2px;
    font-size: 2rem;
    text-shadow: 0px 0px 15px rgb(97, 97, 97);
}

.ContainerPenlProjects{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.ContainerPanel{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    background-color: rgb(199, 199, 199);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.ContainerPanelBtns{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
}

.ContainerPanelBtns button{
    padding: 8px 15px;
    font-family: arial;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: white;
}

.ContainerPanelBtns button:active{
    transform: translateY(-2px);
    box-shadow: 2px 2px 10px black;
}


.ContainerProjects{
    display: flex;
    width: 70%;
    height: 100%;
    padding: 1rem;
    justify-content: flex-start;
    align-content: flex-start;
}


@media screen and (max-width: 968px){
    .Container{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;

    }
    .Container_Welcome{
        font-size: 1.5rem;
        align-self: center;
        width: 90%;
    }

    .ContainerPenlProjects{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .ContainerPanel{
        width: 90%;
        margin: 0 auto;
        align-self: center;
    }

    .ContainerProjects{
        width: 100%;
        justify-content: center;
        align-content: center;
    }
}